  server:
    port: 8080

  spring:
    application:
      name: api-gateway

    cloud:
      gateway:
        discovery:
          locator:
            enabled: true
            lower-case-service-id: true     # important for swagger & routing

  eureka:
    client:
      service-url:
        defaultZone: http://localhost:8761/eureka/
      register-with-eureka: true
      fetch-registry: true


  # --- SPRINGDOC SWAGGER AGGREGATION CONFIG ---
  springdoc:
    api-docs:
      enabled: true

    swagger-ui:
      path: /swagger-ui.html   # Gateway swagger URL
      urls:
        - name: Exchange Stock Service
          url: /stock-service/v3/api-docs
        - name: Exchange User Service
          url: /user-service/v3/api-docs
        - name: Exchange Stock Repository Service
          url: /stock-repo-service/v3/api-docs
        - name: User Details Service
          url: /user-service/v3/api-docs

    group-configs:
      - group: full-api
        display-name: "Complete Exchange API's"
        paths-to-match:
          - /stock-service/**
          - /user-service/**
          - /stock-repo-service/**


  logging:
    level:
      org.springframework.cloud.gateway: INFO
      org.springframework.web: INFO
