server:
  port: 8080

spring:
  application:
    name: api-gateway

  cloud:
    gateway:
      forwarded:
        enabled: true
      globalcors:
        cors-configurations:
          '[/**]':
            allowed-origins:
              - "http://localhost:8080"
            allowed-methods:
              - GET
              - POST
              - PUT
              - DELETE
              - OPTIONS
            allowed-headers:
              - "*"
            allow-credentials: true
      discovery:
        locator:
          enabled: true
          lower-case-service-id: true
      default-filters:
        - TokenRelay  # This is used when we need to send the token from the the Gateway to services.

  security:
    oauth2:

      #Resource Server (JWT validation)
      resourceserver:
        jwt:
          issuer-uri: http://localhost:8180/realms/Stock_Exchange_API

      #OAuth2 Client (Swagger Login)
      client:
        registration:
          mywebclient:
            client-id: stock_exchange_security
            client-secret: TMqLUzsWNp20d6ODqKpWwsnGaTtwUOYH
            authorization-grant-type: authorization_code
            redirect-uri: "{baseUrl}/login/oauth2/code/{registrationId}"
            scope: openid, profile

        provider:
          mywebclient:
            authorization-uri: http://localhost:8180/realms/Stock_Exchange_API/protocol/openid-connect/auth
            token-uri: http://localhost:8180/realms/Stock_Exchange_API/protocol/openid-connect/token
            user-info-uri: http://localhost:8180/realms/Stock_Exchange_API/protocol/openid-connect/userinfo
            jwk-set-uri: http://localhost:8180/realms/Stock_Exchange_API/protocol/openid-connect/certs
            user-name-attribute: preferred_username

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
    register-with-eureka: true
    fetch-registry: true

springdoc:
  swagger-ui:
    path: /swagger-ui.html
    urls-primary-name: Complete Exchange API's

    oauth:
      client-id: stock_exchange_security
      use-pkce-with-authorization-code-grant: true
      scopes: openid, profile
    oauth2-redirect-url: http://localhost:8080/swagger-ui/oauth2-redirect.html

    urls:
      - name: Complete Exchange API's
        url: /v3/api-docs
      - name: Exchange Stock Service
        url: /stock-service/v3/api-docs
      - name: Exchange User Service
        url: /user-service/v3/api-docs
      - name: Exchange Stock Repository Service
        url: /stock-repo-service/v3/api-docs
      - name: User Details Service
        url: /user-service/v3/api-docs
      - name: Portfolio Service
        url: /portfolio-service/v3/api-docs

#  group-configs:
#    - group: full-api
#      display-name: "Complete Exchange API's"
#      paths-to-match:
#        - /stock-service/**
#        - /user-service/**
#        - /stock-repo-service/**
#        - /portfolio-service/**


logging:
  level:
    org.springframework.cloud.gateway: INFO
    org.springframework.web: INFO
